body{
    font-family: 'Poppins', sans-serif;
    background-color: #edf1fd;
   
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
#dev-size{
    font-size: 40px;
}
.dev-color{
    color: coral;

}
.flexible-container{
    display: flex;
}

#goal{
    padding-left: 20%;
    padding-right: 0%;
}

.half-width{
    width: 50%;
    padding-left: 0%;
}
.half-width img{
    width: 90%;
}
#photo1{
    padding-left: 20%;
    padding-top: 3%;
}
#photo2{
    width: 50%;
}
.button{
    background-color: transparent;
    color: black;
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 5px;
    border: 3px solid rgb(61, 61, 61);

}
.button:hover   {
    background-image: linear-gradient(rgb(61, 61, 61), black);
    color: white;
    
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    box-shadow: 10px 10px 40px gray;
    padding-left: 20px;
   
    
}

#position1{
    padding: 0px;
    margin: 0px;
}

@media (max-width: 998px)
{
    #position1{
       
        display:flex;
        flex-direction: column-reverse;
    }
}
#position2{
    padding: 0px;
    margin: 0px;
    margin-top: 5%;
}
@media (max-width: 998px)
{
    #position2{
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        
    }
    
}
