body{
    font-family: 'Poppins', sans-serif;
    background-color: #edf1fd;
}
h1{
    font-size: 50px;
}
.dev-color{
    color: coral;

}
.welcome{
    display: flex;
}
.half-width{
    width: 40%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
    padding-left: 40%;
}
.button{
    background-image: linear-gradient(rgb(61, 61, 61), black);
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
}
.button :hover{
    
}
